<div class='tituloPagina'>
  {{ Titulo }}
</div>

<form [formGroup]="FormBusqueda">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-md-3 offset-md-1">
        <label class="col-form-label">Fecha<span class="text-danger">*</span>:</label>
      </div>
      <div class="col-sm-8 col-md-6">
        <div class="input-group inputMedio">
          <input
        class="form-control"
        placeholder="dd/mm/aaaa"
        formControlName="Fecha"
        ngbDatepicker
        [minDate]="{year: 2010, month: 1, day: 1}"
        [maxDate]="{year: 2031, month: 1, day: 1}"
        #d="ngbDatepicker"
        [ngClass]="{ 'is-invalid': FormBusqueda.controls.Fecha.errors }"
      />
          <div class="input-group-append">
            <button
          class="btn btn-outline-secondary"
          (click)="d.toggle()"
          type="button"
        >
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </button>
          </div>
        </div>
        <div class="validacion" *ngIf="
            FormBusqueda.controls.Fecha.errors
          ">
          Dato fecha, formato dd/mm/aaaa. Año > 2000
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-md-3 offset-md-1">
        <label class="col-form-label">Cliente<span class="text-danger">*</span>:</label>
      </div>
      <div class="col-sm-8 col-md-6">
        <div class="input-group">
          <div class="input-group-prepend"
            ngbTooltip="Busqueda progresiva segun texto ingresado, al menos 3 caracteres...">
            <div class="input-group-text"> <i class="fa fa-search"></i></div>
          </div>
          <input
        type="text"
        placeholder="escriba aqui para buscar"
        class="form-control"
        #refCliente
        [ngbTypeahead]="typeAheadSearch_cli"
        (selectItem)="typeAheadselectItem_cli($event, refCliente)"
        (blur)="typeAheadBlur_cli(refCliente)"
        [resultFormatter]="typeAheadformatter_cli"
        [inputFormatter]="typeAheadformatter_cli"
        [resultTemplate]="rt_cli"
        formControlName="Cliente"
      />

          <div class="input-group-append  ml-2" (click)="VerInfoCliente()" ngbTooltip="mas informacion...">
            <div class="input-group-text"> <i class="fa fa-info-circle"></i></div>
          </div>

          <ng-template #rt_cli let-r="result" let-t="term">
            <div class="row">
              <div class="col">
                <ngb-highlight [result]="r.Nombre" [term]="t"></ngb-highlight>
              </div>
              <div class="col text-right">
                <span> Cuit: {{r.Cuit }} </span>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>




    <div class="row">
      <div class="col-sm-4 col-md-3 offset-md-1">
        <label class="col-form-label">Agregar Articulo<span class="text-danger">*</span>:</label>
      </div>
      <div class="col-sm-8 col-md-6">
        <div class="input-group">
          <div class="input-group-prepend"
            ngbTooltip="Busqueda progresiva segun texto ingresado, al menos 3 caracteres...">
            <div class="input-group-text"> <i class="fa fa-search"></i></div>
          </div>
          <input
      type="text"
      placeholder="escriba aqui para buscar"
      class="form-control"
      #RefArticulo
      [ngbTypeahead]="typeAheadSearch"
      (selectItem)="typeAheadselectItem($event, RefArticulo)"
      (blur)="typeAheadBlur(RefArticulo)"
      [resultFormatter]="typeAheadformatter"
      [inputFormatter]="typeAheadformatter"
      [resultTemplate]="rt_art"
    />
          <ng-template #rt_art let-r="result" let-t="term">
            <div class="row">
              <div class="col">
                <ngb-highlight [result]="r.Nombre" [term]="t"></ngb-highlight>
              </div>
              <div class="col text-right">
                <span> Stock: {{ ("0000" + r.Stock).slice(-4)  }} </span>
              </div>
            </div>
          </ng-template>
        </div>
        <!-- <small class='ml-3'>Ingrese parte del nombre del articulo a buscar, seleccione con [↑↓] y [Enter] para agregar</small> -->
      </div>
    </div>
  </div>
</form>

<!-- Tabla Articulos -->
<div>
  <table class="table table-hover table-sm table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">Articulo</th>
        <th class="text-center">Cantidad</th>
        <th class="text-center">Precio</th>
        <th class="text-center">Subtotal</th>
        <th class="text-center text-nowrap">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of Items; let i = index">
        <td>{{ item.Nombre | uppercase }}</td>
        <td class="text-right">
          <span style='background-color:blue' class="pyBadge" title="Eliminar 1" (click)="CambiarCantidad(i, -1)">
            <i class="fa fa-minus"></i>
          </span>
          {{ item.Cantidad }}
          <span style='background-color:blue' class="pyBadge" title="Agregar 1" (click)="CambiarCantidad(i, 1)">
            <i class="fa fa-plus"></i>
          </span>
        </td>
        <td class="text-right">{{ item.Precio | currency: "$" }}</td>
        <td class="text-right">{{ item.Precio * item.Cantidad | currency: "$" }}</td>
        <td class="text-center text-nowrap">
          <button
            type="button"
            class="btn btn-sm btn-outline-danger"
            title="Eliminar"
            (click)="Eliminar(i)"
          >
            <i class="fa fa-trash-alt"></i>
          </button>
        </td>
      </tr>
      <tr>
        <th class="text-right"></th>
        <th class="text-right">
          <span class="pyBadge mr-3">Items {{ TotalCantidad }} </span>
        </th>
        <th></th>
        <th class="text-right">
          <span class="pyBadge"
            >Total {{ TotalPrecio | currency: "$" }}
          </span>
        </th>
        <th class="text-center">
          <button type="button" class="btn btn-info" (click)="Grabar()">
            <i class="fa fa-check"></i> Grabar venta
          </button>
        </th>
      </tr>
    </tbody>
  </table>
</div>

