<header>
  <app-menu></app-menu>
</header>

<div class="divBody">
  <router-outlet></router-outlet>
</div>

<footer class="text-center">
  <small>
    <span>© Pymes 2021</span>
    <span class="m-4">-</span>
    <a href="tel:113"> <span class="fa fa-phone"></span> 0810-888-1234 </a>
    <span class="m-4">-</span>
    Seguinos en
    <a
      class="redes"
      href="https://www.facebook.com"
      style="background-color:#2962ff"
      target="_blank"
    >
      <i title="Facebook" class="fab fa-facebook-f"></i>
    </a>
    <a
      class="redes"
      href="https://twitter.com"
      style="background-color:#5ba4d6"
      target="_blank"
    >
      <i title="Twitter" class="fab fa-twitter"></i>
    </a>
    <a
      class="redes"
      style="background-color:#ec4c51"
      href="https://www.instagram.com"
      target="_blank"
    >
      <i title="Instagram" class="fab fa-instagram"></i>
    </a>
    <a
      class="redes"
      style="background-color:#00e676"
      href="https://www.whatsapp.com"
      target="_blank"
    >
      <i title="Whatsapp" class="fab fa-whatsapp"></i>
    </a>
  </small>
</footer>
