<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <a class="navbar-brand">
    <i class="fa fa-industry"></i>
    &nbsp;<i>Pymes</i>
  </a>
  <!-- ref?? no funciona botton del menu colapsado, no despliega el menu -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleNavbar()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
    [ngClass]="{ show: navbarOpen }"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/inicio"
          >Inicio <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/articulosfamilias"
          title="Listado Articulos Familia"
          >ArticulosFamilias</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/articulos" title="Gestionar Articulos"
          >Articulos</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clientes" title="Gestionar Clientes"
          >Clientes</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ventas" title="Registrar Ventas"
          >Ventas</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/ventasconsultas"
          title="Ventas Consultas"
          >Ventas Consultas</a
        >
      </li>

      <!-- ref?? no funciona menu dropdown de bootstrap -->
      <!-- <li ngbDropdown class="nav-item dropdown">
				<a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
					data-bs-toggle="dropdown" aria-expanded="false">
					Ventas
				</a>
				<div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="nav-link" routerLink="/ventas" title="Registrar Ventas">Ventas</a>
					<div class="dropdown-divider"></div>
					<a class="nav-link" routerLink="/ventasconsultas" title="Ventas Consultas">Ventas Consultas</a>
				</div>
			</li> -->

      <li class="nav-item">
        <a class="nav-link">Acerca de</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link">Bienvenido: Carlos Villan</a>
      </li>
      <li class="nav-item"><a class="nav-link">Cerrar Session</a></li>
    </ul>
  </div>
</nav>
